body {
    background-image: url("bildes/bilde2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.textBox {
    position: absolute;
}

.menesBilde {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: rgb(0, 238, 255);
    text-shadow: 0 2 6px black;
    font-size: 40px;
    margin-top: 250px;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jaunaPrece {
    background-image: url("bildes/podzinja.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(114, 60, 9);
    font-size: 25px;
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 5px black;
    text-shadow: 0 0 2px black;
    border: solid 4px rgb(114, 60, 9);
    width: 281px;
    height: 50px;
    border-radius: 1000px;
    cursor: pointer;
}

h3 {
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: deepskyblue;
    margin-top: -10px;
    margin-left: 20px;
}

#nosaukums {
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: deepskyblue;
    border: solid 1px deepskyblue;;
}

#daudzums {
    background-color: none;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: deepskyblue;
    border: solid 1px deepskyblue;
}

#cena {
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: deepskyblue;
    border: solid 1px deepskyblue;
}

#PrecesPoga {
    background-image: url("bildes/podzinja.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: solid 4px rgb(114, 60, 9);
    width: 100px;
    border-radius: 15px;
    margin-left: 43px;
    margin-top: 10px;
    cursor: pointer;
}

#lodzinjs {
    display: none;
}

#form {
    background-image: url("bildes/background.png");
    background-size: cover;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    width: 195px;
    height: 160px;
    margin-top: 50px;
}

#biblioteka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jaunsLogs {
    background-image: url("bildes/fons.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}

h4 {
    color: deepskyblue;
    overflow-wrap: break-word;
}